.user_info{
    background-color: #DDEECC;
}


html{
    overflow-y: scroll; /*スクロールバーを常に表示*/
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
/* container */
.container{
    width: 360px;
    border: 1px #cccccc solid;
    border-radius: 16px;
    margin-top: 8px;
}

/* ツールブロック */
.tools{
    display: flex;
    flex-direction: column;
    border-bottom: 1px #e8e8e8 solid;
}

.tools-lever{
    display: flex;
    justify-content: center;
}

.btn-lever{
    /* 開閉ボタン */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f0f0f0;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.btn-lever:hover{
    background-color: #e8e8e8;
}

.tools .tool-row{
    margin: 0 16px;
    display: none;
    justify-content: space-between;
    padding: 0;
    height: 0px;
}

.tools .tool-row:first-child{
    height: 128px;
    display: flex;
    margin: 8px 16px 0 16px;
    padding: 8px 0 0 0;
}


.tool-item .title{
    /* ツールボタン キャプション 基本 */
    margin-top: 8px;
    font-size: 9px;
    text-align: center;
}

.tool-item .tool-icon{
    /* ツールボタン アイコン 基本 */
    padding: 16px 16px 12px 16px;
    cursor: pointer;
    border-radius: 50%;

}

.tool-item .tool-icon:hover{
    /* ツールボタン アイコン 基本 */
    background-color: #e8e8e8;
}

.tool-item.under-construction .tool-icon{
    /* ツールボタン アイコン 工事中 */
    color: #999999;
    cursor: initial;
}

.tool-item.under-construction .tool-icon:hover{
    /* ツールボタン アイコン 工事中 */
    background-color: initial;
}

.tool-item.under-construction .title{
    text-decoration: line-through;
}

.tool-item .add-record{
    /* あとからついか */
    background-color: #fce4ec;
}
.tool-item .add-record:hover{
    /* あとからついか */
    background-color: #f48fb1;
}


/*署名*/
.signature{
    padding: 8px;
    display: flex;
    width: 360px;
    font-size: 12px;
    color: #999999;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.signature .version{
    font-weight: bold;
}