
.timer-status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-data{
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

/* あとからついか */
.adding-form{
    /* 背景 */
    display: flex;
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
}

.adding-form.invisible{
    display: none;
}

.adding-form .body{
    /* 本体 */
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 368px;
    /*height: 60%;*/
    flex-direction: column;
    position: absolute;
    top: 24px;
    webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    z-index: 101;
    border-radius: 4px;
}

.adding-form .body .header{
    /* ヘッダー */
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #e3f2fd;
    padding: 0px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.adding-form .body .contents{
    /* 主要部分 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.required-icon{
    color: red;
    font-size: 8px;
}

.adding-form .body .contents .item-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-bottom: 8px;*/
}

.adding-form .body .contents .item-row .item-name{
    /*font-size: 9px;*/
    border-left: 3px solid;
    padding-left: 4px;
}

.adding-form .body .contents .item-row .item-name.status{
    border-color: #4fc3f7;
    margin: 0;
    display: flex;
}

.adding-form .body .contents .item-row .item-name.start{
    border-color: #4db6ac;
    display: flex;
}

.adding-form .body .contents .item-row .item-name.end{
    border-color: #81c784;
    display: flex;
}

.adding-form .body .contents .item-row .item-name.note{
    border-color: #dce775;
}

.adding-form .body .contents .item-row .item-name.sub{
    font-size: 9px;
    border-left: 0 solid;
}

.adding-form .body .contents .item-row.switch{
    flex-direction: row;
    padding: 16px 0;
}

.adding-form .body .contents .item-row .item-names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}


.adding-form .body .contents .item-row.datetime-picker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.adding-form .body .contents .item-row.datetime-picker .datetime-input-items{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    justify-content: space-between;
}

.adding-form .body .contents .item-row .item-input.datetime-picker input:first-child{
    margin-right:8px;
}

#adding-form-start-datetime.invalid{
    border-bottom: 1px red;
}
#adding-form-end-datetime.invalid{
    border-bottom: 1px red;
}

.adding-form .body .footer{
    /* フッター */
    height: 64px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 8px;
    border-top: 1px #e8e8e8 solid;
}

.adding-form .body .footer .btn{
    margin: 0 4px;
}

/* ステータスブロック */
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.status .title{
    border-left: 4px #ff8a80 solid;
    padding-left: 4px;
    margin-right: 16px;
}

.label-status{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
}
.label-status.true{
    background-color: #5cb85c;
}

.label-status.false{
    background-color: #f0ad4e;
}

/* 差分・タイマーブロック */
.delta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.delta .title{
    border-left: 4px #ff80ab solid;
    padding-left: 4px;
    margin-right: 16px;
}

.delta .time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}


/* 累計ブロック */
.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px;
}

.total .title{
    margin-bottom: 8px;
    border-left: 4px #ea80fc solid;
    padding-left: 4px;
    margin-right: 16px;
}

.total .worn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* margin-bottom: 0px; */
}
.total .worn .total-status{
    margin-top: -8px;
}
.total .none{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* margin-bottom: 8px; */
}
.total .none .total-status{
    margin-top: -8px;
}

.total div div .label{ /* ステータスラベル */
    line-height: 0;
    margin-right: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    /* margin-top: 35px; */
}

/* メモエリア */
.timer-status .note{
    /*Lib上書き*/
    margin: 24px 16px -8px 16px !important;
}
.note-textarea{
    /*Lib上書き*/
    border: 1px #e8e8e8 solid !important;
    padding: 10px 8px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)  !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)  !important;
}
.note-textarea:focus{
    /*Lib上書き*/
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)  !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)  !important;
    border-bottom: none !important;
    border: 1px #26a69a solid !important;
}
.note-label.active{
    /*Lib上書き*/
    top: -4px !important;
}

/* ボタンブロック */
.buttons{
    margin: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-change{
    margin: 0px 8px;
    padding: 0 24px;
}
