{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'star_timer/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'star_timer/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'star_timer/css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'star_timer/css/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'star_timer/css/base.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block content %}
          {{ content }}
        {% endblock %}
    </div>
    <div class="signature">
        <div class="water-mark">Copyright © 2018 Awecen All Rights Reserved</div>
        <div class="version">version 2.2.0</div>
    </div>

<script src="{% static 'star_timer/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'star_timer/js/bootstrap.min.js' %}"></script>
<script src="{% static 'star_timer/js/materialize.min.js' %}"></script>
<script src="{% static 'star_timer/js/flatpickr.min.js' %}"></script>
<script src="{% static 'star_timer/js/flatpickr-ja.js' %}"></script>
<script src="{% static 'star_timer/js/base.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>