{% extends "star_timer/base.html" %}
{% load i18n static %}

{% block title %}たいまー{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star_timer/css/main.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    {% csrf_token %}
    <div class="tools">
        <div class="tool-row">
            <div class="tool-item">
                <div class="tool-icon logs">
                     <i class="medium material-icons">subject</i>
                </div>
                <div class="title">かこのきろく</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon add-record">
                     <i class="medium material-icons">add</i>
                </div>
                <div class="title">あとからついか</div>
            </div>
            <div class="tool-item">
                <div class="tool-icon reload">
                     <i class="medium material-icons">refresh</i>
                </div>
                <div class="title">さいよみこみ</div>
            </div>
        </div>
        <div class="tool-row">
            <div class="tool-item">
                <div class="tool-icon new-release">
                     <i class="medium material-icons">new_releases</i>
                </div>
                <div class="title">わっつにゅう</div>
            </div>
            <div class="tool-item under-construction">
                <div class="tool-icon print ">
                     <i class="medium material-icons">print</i>
                </div>
                <div class="title">いんさつ</div>
            </div>
            <div class="tool-item under-construction">
                <div class="tool-icon settings under-construction">
                     <i class="medium material-icons">settings</i>
                </div>
                <div class="title">せってい</div>
            </div>
        </div>
    </div>
    <div class="tools-lever">
        <div class="btn-lever">
            <i class="small material-icons">expand_more</i>
        </div>
    </div>

    <div class="adding-form invisible">
        <div class="body">
            <div class="header">あとからついか</div>
            <div class="contents">
                <div class="item-row switch">
                    <div class="item-name status">
                        <span>すてーたす</span>
                        <span class="required-icon">＊</span>
                    </div>
                    <div class="item-input switch">
                        <label>
                            きゅうけい
                            <input id="adding-form-is-worn" type="checkbox">
                            <span class="lever"></span>
                            そうちゃく
                        </label>
                    </div>
                </div>
                <div class="item-row datetime-picker">
                    <div class="item-name start">
                        <span>かいしじかん</span>
                        <span class="required-icon">＊</span>
                    </div>
                    <div class="datetime-input-items">
                        <div class="item-input">
                            <input id="adding-form-start-datetime" class="flatpickr flatpickr-input" type="text" placeholder="Select Date.." data-id="datetime" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="item-row datetime-picker">
                    <div class="item-name end">
                        <span>しゅうりょうじかん</span>
                    </div>
                    <div class="datetime-input-items">
                        <div class="datetime-input-items">
                            <div class="item-input">
                                <input id="adding-form-end-datetime" class="flatpickr flatpickr-input" type="text" placeholder="Select Date.." data-id="datetime" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-row">
                    <div class="item-name note">めも</div>
                    <div class="item-input">
                        <textarea id="adding-form-note" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn btn-cancel grey darken-1">きゃんせる</div>
                <div class="btn btn-save orange darken-2">ほぞん</div>
            </div>

        </div>
    </div>

    <div class="timer-status">
        <div class="status">
            <div class="title">いまのじょうたい</div>
            <div class="label-status true">装着中</div>
        </div>
        <div class="delta">
            <div class="title">けいかじかん</div>
            <div class="time">
                <div class="delta-hours">00</div>
                <div class="timer-separater">:</div>
                <div class="delta-minutes">00</div>
                <div class="timer-separater">:</div>
                <div class="delta-seconds">00</div>
            </div>
        </div>
        <div class="total">
            <div class="title">きょうのとーたる</div>
            <div>
                <div class="worn">
                    <div class="total-status">
                        <span class="label label-success">装着</span>
                    </div>
                    <div class="total-hours">00</div>
                    <div class="timer-separater">:</div>
                    <div class="total-minutes">00</div>
                    <div class="timer-separater">:</div>
                    <div class="total-seconds">00</div>
                </div>
                <div class="none">
                    <div class="total-status">
                        <span class="label label-warning">休憩</span>
                    </div>
                    <div class="total-hours">00</div>
                    <div class="timer-separater">:</div>
                    <div class="total-minutes">00</div>
                    <div class="timer-separater">:</div>
                    <div class="total-seconds">00</div>
                </div>
            </div>
        </div>
        <div class="input-field col s12 note">
            <textarea id="timer-record-note" class="materialize-textarea note-textarea"></textarea>
            <label for="timer-record-note" class="note-label">めも</label>
        </div>
        <div class="buttons">
            <div class="btn-change worn waves-effect waves-light btn-large disabled">そうちゃく！</div>
            <div class="btn-change none waves-effect pink accent-1 waves-light btn-large">きゅうけい</div>
        </div>
    </div>


{% endblock content %}

{% block extra_js %}
    <script src="{% static 'star_timer/js/main.js' %}"></script>
{% endblock extra_js %}